<ion-header>
  <ion-toolbar>
    <ion-title>
      BestAppEver
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   
<!-- Toggles in a List -->
<ion-list>
    <ion-item>
      <ion-label>Planned</ion-label>
      <ion-toggle [(ngModel)]="planned"></ion-toggle>
    </ion-item>
  
  
    <ion-item>
      <ion-label>Past</ion-label>
      <ion-toggle [(ngModel)]="past"></ion-toggle>
    </ion-item>
  </ion-list>


  <div>
      <ion-ripple-effect></ion-ripple-effect>
      A plain div with a ripple effect
    </div>
    
    <button>
      <ion-ripple-effect></ion-ripple-effect>
      Button
    </button>

 
</ion-content>
